.block {
  display: flex;
  gap: 50px;
}

.radioBtn {
  padding: 12px 15px;
  display: flex;
  gap: 40px;
  color: #3B3636;
  font-size: 20px;
  border: 2px solid #148F2B;
  border-radius: 16px;
  align-items: center;
}

.dot {
  display: inline-block;
  position: relative;
  line-height: 0;
}

.radioBtn .down {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-color: #D9D9D9;
  border-radius: 50%;
}

.radioBtn .up {
  display: none;
  width: 14px;
  height: 14px;
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
}

.radioBtn .downActive {
  background-color: #148F2B;
  transition: 0.2s;
}

.radioBtn .upActive {
  display: inline-block;
  transition: 0.2s;
}

@media (max-width: 768px) {

  .block {
    gap: 30px;
  }

  .radioBtn {
    padding: 10px 12px;
    justify-content: space-between;
    font-size: 18px;
    border-radius: 14px;
  }

  .radioBtn .down {
    width: 24px;
    height: 24px;
  }

  .radioBtn .up {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 480px) {

  .block {
    gap: 20px;
    flex-direction: column;
  }

  
  .radioBtn {
    padding: 8px 10px;

    font-size: 16px;
    border-radius: 12px;
  }

  .radioBtn .down {
    width: 20px;
    height: 20px;
  }

  .radioBtn .up {
    width: 10px;
    height: 10px;
  }
}