.btn {
  padding: 12px 65px;
  background-color: #148F2B;
  border-radius: 16px;
  color: #FFFFFF;
  font-size: 24px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
  transition: 0.2s;
  /* font-size: 25px; */
}

.btn:not(:hover) {
  transition: 0.2s;
}

.btnDisable{
  opacity: .5;
  cursor: default;
}

.btnDisable:hover {
  opacity: .5;
}