.border {
  height: 65px;
  width: 65px;
  border-radius: 50px;
  border: 2px solid #148F2B;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  border: none;
  background-color: #148F2B;
}

.text {
  font-size: 32px;
  color: #3B3636;
}

@media (max-width: 768px) {

  .border {
    height: 50px;
    width: 50px;
    border-radius: 40px;
  }

  .text {
    font-size: 24px;
  }
}

@media (max-width: 480px) {

  .border {
    height: 40px;
    width: 40px;
    border-radius: 30px;
  }

  .text {
    font-size: 20px;
  }
}