.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  /* align-items: center; */
}

.title {
  font-size: 32px;
  font-weight: 400;
  align-self: center;
}

.card{
  margin: 50px;
  background-color: #F4F4F4;
  border-radius: 40px;
  padding: 60px 160px;
  display: flex;
  flex-direction: column;
}

.controller{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.rightBlock {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

.checkBox {
  height: 40px;
  width: 40px;
  border: 2px solid #148F2B;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  padding: 12px 24px;
  border: 2px solid #148F2B;
  color: #148F2B;
  font-size: 24px;
  border-radius: 16px;
  cursor: pointer;
  opacity: .5;
}

.btnActive{
  opacity: 1;
}
